* {
    box-sizing: border-box;
}

body {
    max-width: 1295px;
    height: 100%;
    margin: 0 auto;
    padding: 0;
    font-family: Helvetica, Arial, sans-serif;
    background-color: #ebebeb;
}
header {
    padding: 30px 0 10px;
    font-size: 22px;
    text-align: center;
}

main {
    min-height: 60vh; /* For footer "sticking" the borrom of the page if content is not enough */
    margin-top: 20px;
    margin-bottom: 20px;
}

footer {
    display: flex;
    align-items: baseline;
    justify-content: space-between;
    padding: 10px 50px;
    border-top: 1px solid #5a5a5a;
    
}